@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Cal Sans', sans-serif;
}

.text-shadow-custom {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-descargar-bg {
  background-color: #9DF1C0;
}

.btn-demo-bg {
  background-color: #A1E9D2;
}

.btn-repo-bg {
  background-color: #9FE7E3;
}

.bg-gas-n-ride {
  background-color: #B9FFFF;
}

.fondo-degradado{
  background: linear-gradient(
      to bottom,
    #B9FFFF 15%,  
    #9DF2C0 100% 
  );
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }