<div class="relative w-full min-h-screen bg-black text-white py-20 px-6 md:px-20">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-white">
        INFORMACION SOBRE SPRINTS DE CADA UNO Y ESO
      </h2>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-8 md:gap-12">
      <!-- Tarjeta 1 -->
      <a href="/creators" class="group relative text-center transform transition duration-300 hover:scale-105 hover:shadow-lg hover:shadow-red-500/20 bg-black rounded-xl p-4 border border-white/10 hover:border-red-500">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Iván Mayoral - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">Iván Mayoral Capel</h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">Desarrollador Web Frontend</p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">Encargado del diseño web y la landing page de Gas N Ride</p>
        </div>
      </a>

      <!-- Tarjeta 2 -->
      <a href="/creators" class="group relative text-center transform transition duration-300 hover:scale-105 hover:shadow-lg hover:shadow-red-500/20 bg-black rounded-xl p-4 border border-white/10 hover:border-red-500">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Alejandro Sánchez - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">Alejandro Sánchez Garcia de la Llave</h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">Programador de la versión móvil</p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">Gestión de base de datos y desarrollo móvil.</p>
        </div>
      </a>

      <!-- Tarjeta 3 -->
      <a href="/creators" class="group relative text-center transform transition duration-300 hover:scale-105 hover:shadow-lg hover:shadow-red-500/20 bg-black rounded-xl p-4 border border-white/10 hover:border-red-500">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Alexia Patricia Mena Suárez - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">Alexia Patricia Mena Suárez</h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">Programadora de la versión móvil</p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">Co-gestora de base de datos y desarrollo móvil.</p>
        </div>
      </a>
    </div>
    
  </div>
  <div class="text-center mb-16">
    <a href="https://github.com/ivanmayoraldev/TFC-Gasolinera/blob/main/README.md" class="inline-block text-lg bg-gray-700 hover:bg-gray-900 text-white font-semibold py-2 px-6 rounded-md">Ver Documentación</a>
  </div>
</div>
