<section
  id="performance-charts"
  class="text-white py-20 px-6 md:px-20 overflow-auto"
>
  <!-- Título -->
  <div id="creadores" class="max-w-4xl mx-auto text-center mb-12">
    <h2 class="text-4xl md:text-5xl font-bold mb-4">
      Rendimiento del Equipo Gas N Ride
    </h2>
    <p class="text-lg md:text-xl text-gray-300">
      Análisis comparativo del desempeño en diferentes funciones del tfc de Gas
      N Ride.
    </p>
  </div>

  <div class="max-w-6xl mx-auto bg-gray-800 rounded-lg p-6 shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-gray-700 rounded-lg p-4">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Iván Mayoral - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">
            Iván Mayoral Capel
          </h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">
            Desarrollador Web Frontend
          </p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">
            Encargado del diseño web y la landing page de Gas N Ride
          </p>
        </div>
        <div class="h-64">
          <canvas id="ivanChart"></canvas>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-2 text-sm">
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Landing Page: </span> 100%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Diseño: </span> 100%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">API: </span> 80%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Base de datos: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Desarrollo APP Móvil: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Documentación: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Presentación:</span> 33%
          </div>
        </div>
      </div>

      <!-- Gráfico 2: Alejandro -->
      <div class="bg-gray-700 rounded-lg p-4">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Alejandro Sánchez - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">
            Alejandro Sánchez Garcia de la Llave
          </h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">
            Programador de la versión móvil
          </p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">
            Gestor principal de base de datos y desarrollo móvil.
          </p>
        </div>
        <div class="h-64">
          <canvas id="alejandroChart"></canvas>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-2 text-sm">
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Landing Page: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Diseño: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">API: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Base de datos: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Desarrollo APP Móvil: </span> 45%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Documentación: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Presentación:</span> 33%
          </div>
        </div>
      </div>

      <!-- Gráfico 3: Alexia -->
      <div class="bg-gray-700 rounded-lg p-4">
        <img
          class="rounded-xl sm:size-48 lg:size-60 mx-auto transition duration-300 group-hover:opacity-90"
          src="https://t4.ftcdn.net/jpg/10/54/09/27/240_F_1054092780_liObYQo10Pn2xOo4CmGYZMeWiw0P7CT2.jpg"
          alt="Alexia Patricia Mena Suárez - Foto"
        />
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-white sm:text-base lg:text-lg">
            Alexia Patricia Mena Suárez
          </h3>
          <p class="text-xs text-gray-400 sm:text-sm lg:text-base">
            Programadora de la versión móvil
          </p>
          <p class="text-xs text-gray-500 sm:text-sm lg:text-base mt-1">
            Co-gestora de base de datos y desarrollo móvil.
          </p>
        </div>
        <div class="h-64">
          <canvas id="alexiaChart"></canvas>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-2 text-sm">
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Landing Page: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Diseño: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">API: </span> 10%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Base de datos: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Desarrollo APP Móvil: </span> 45%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Documentación: </span> 33%
          </div>
          <div class="bg-gray-600 p-2 rounded">
            <span class="font-medium">Presentación:</span> 33%
          </div>
        </div>
      </div>
    </div>

    <!-- Leyenda y controles -->
    <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
      <div
        class="mt-8 flex flex-col md:flex-row justify-between items-start md:items-center gap-4"
      >
        <div class="flex flex-wrap gap-4">
          <div class="flex items-center">
            <div class="w-4 h-4 bg-blue-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">Landing Page</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-green-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">Diseño</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-yellow-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">API</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-purple-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">Base de datos</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-pink-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">Desarrollo APP Móvil</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-purple-200 rounded-full mr-2"></div>
            <span class="text-sm text-white">Documentación</span>
          </div>
          <div class="flex items-center">
            <div class="w-4 h-4 bg-red-500 rounded-full mr-2"></div>
            <span class="text-sm text-white">Presentación</span>
          </div>
        </div>
      </div>

      <div class="flex space-x-2 items-center">
        <button class="bg-gray-700 hover:bg-gray-600 px-4 py-2 rounded-lg"
          >Gas N Ride - TFC</button
        >
      </div>
    </div>
  </div>
</section>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const commonConfig = {
      type: "radar",
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          r: {
            angleLines: { display: true },
            suggestedMin: 0,
            suggestedMax: 100,
            ticks: { stepSize: 20 },
          },
        },
        elements: {
          line: { tension: 0.1 },
        },
      },
    };

    const ivanCtx = document.getElementById("ivanChart").getContext("2d");
    new Chart(ivanCtx, {
      ...commonConfig,
      data: {
        labels: [
          "Landing Page",
          "Diseño",
          "API",
          "Base de datos",
          "Desarrollo APP Móvil",
          "Documentación",
          "Presentación",
        ],
        datasets: [
          {
            label: "Rendimiento",
            data: [100, 100, 80, 33, 10, 33, 33],
            backgroundColor: "rgba(59, 130, 246, 0.2)",
            borderColor: "rgba(59, 130, 246, 1)",
            borderWidth: 2,
            pointBackgroundColor: "rgba(59, 130, 246, 1)",
          },
        ],
      },
    });

    const alejandroCtx = document
      .getElementById("alejandroChart")
      .getContext("2d");
    new Chart(alejandroCtx, {
      ...commonConfig,
      data: {
        labels: [
          "Landing Page",
          "Diseño",
          "API",
          "Base de datos",
          "Desarrollo APP Móvil",
          "Documentación",
          "Presentación",
        ],
        datasets: [
          {
            label: "Rendimiento",
            data: [10, 20, 30, 65, 90, 50, 50],
            backgroundColor: "rgba(59, 130, 246, 0.2)",
            borderColor: "rgba(59, 130, 246, 1)",
            borderWidth: 2,
            pointBackgroundColor: "rgba(59, 130, 246, 1)",
          },
        ],
      },
    });

    const alexiaCtx = document.getElementById("alexiaChart").getContext("2d");
    new Chart(alexiaCtx, {
      ...commonConfig,
      data: {
        labels: [
          "Landing Page",
          "Diseño",
          "API",
          "Base de datos",
          "Desarrollo APP Móvil",
          "Documentación",
          "Presentación",
        ],
        datasets: [
          {
            label: "Rendimiento",
            data: [10, 20, 30, 65, 75, 50, 50],
            backgroundColor: "rgba(59, 130, 246, 0.2)",
            borderColor: "rgba(59, 130, 246, 1)",
            borderWidth: 2,
            pointBackgroundColor: "rgba(59, 130, 246, 1)",
          },
        ],
      },
    });
  });
</script>
