<section class="px-6 mt-2 items-center justify-center">
  <div id="descripcion" class="max-w-4xl mx-auto text-center mb-12">
    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 mb-16">
      <div
        class="btn-demo-bg border-2 border-black rounded-lg p-6 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:shadow-red-500/30"
      >
        <p class="text-2xl text-black font-semibold text-left">
          Un mapa interactivo para descubrir pueblos, zonas de interés y
          gasolineras en toda la Comunidad de Madrid.
        </p>
      </div>
    </div>

    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 mb-16">
      <div
        class="btn-demo-bg border-2 border-black rounded-lg p-6 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:shadow-red-500/30"
      >
        <p class="text-2xl text-black font-semibold text-right">
          Pensada para acompañarte durante el viaje. Crea rutas personalizadas,
        ubica gasolineras y descubre lugares nuevos sin complicaciones.
        </p>
      </div>
    </div>

    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 mb-16">
      <div
        class="btn-demo-bg border-2 border-black rounded-lg p-6 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:shadow-red-500/30"
      >
        <p class="text-2xl text-black font-semibold text-left">
          Accede desde cualquier navegador para probar la app, crear rutas o
          descubrir zonas antes de salir desde nuestra aplicación móvil.
        </p>
      </div>
    </div>

    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 mb-16">
      <div
        class="btn-demo-bg border-2 border-black rounded-lg p-6 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:shadow-red-500/30"
      >
        <p class="text-2xl text-black font-semibold text-right">
          Visualiza pueblos, zonas de interés y gasolineras en tiempo real. Todo
          organizado para planificar viajes cómodos.
        </p>
      </div>
    </div>
  
    <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 mb-16">
      <div
        class="btn-demo-bg border-2 border-black rounded-lg p-6 shadow-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl hover:shadow-red-500/30"
      >
        <p class="text-2xl text-black font-semibold text-center">
          Elige tus destinos, define paradas estratégicas y construye el camino
          ideal en unos minutos.
        </p>
      </div>
    </div>

    <div class="text-center mb-16">
      <a
        href="/moreInfo"
        class="inline-block text-lg btn-repo-bg border-2 border-black text-black font-semibold py-2 px-6 rounded-md mr-4 mb-4 md:mb-0"
        >Saber más</a
      >
      <a
        href="https://github.com/ivanmayoraldev/TFC-Gasolinera/blob/main/README.md"
        class="inline-block text-lg bg-gray-200 border-2 border-black text-black font-semibold py-2 px-6 rounded-md"
        >Ver Documentación</a
      >
    </div>
  </div>
</section>
