---
import Documentation from '../react-components/Documentation.jsx';
---
<section id="descripcion" class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-2 items-center justify-center">
  
</section>
