<div class="w-full py-6">
    <div class="flex justify-center items-center">
      <!-- Contenedor que muestra las imágenes centradas -->
      <div class="flex space-x-8 overflow-hidden">
        <div class="flex-shrink-0">
          <img src="/1.png" alt="" class="h-10 w-auto" />
        </div>
        <div class="flex-shrink-0">
          <img src="/2.png" alt="" class="h-10 w-auto" />
        </div>
        <div class="flex-shrink-0">
          <img src="/3.png" alt="" class="h-10 w-auto" />
        </div>
        <div class="flex-shrink-0">
          <img src="/4.png" alt="" class="h-10 w-auto" />
        </div>
        <div class="flex-shrink-0">
          <img src="/5.png" alt="" class="h-10 w-auto" />
        </div>
        <div class="flex-shrink-0">
          <img src="/6.png" alt="" class="h-10 w-auto" />
        </div>
      </div>
    </div>
  </div>
  