---
import Slider from '../react-components/Slider.jsx';
---
<section id="capturas" class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 items-center justify-center mt-20 mb-20">
    <h2 class="text-4xl sm:text-5xl font-bold title-novedades text-center">
        Capturas de Gas N Ride
    </h2>
    <Slider client:load/>
</section>