<section id="novedades" class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-16 mb-16">
  <h2 class="text-4xl sm:text-5xl font-bold title-novedades text-center mb-8">
    Novedades
  </h2>
  <div class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl p-6 sm:p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Aquí puedes añadir las novedades como tarjetas -->
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Nuevo Mapa</h3>
        <p class="text-gray-600 dark:text-gray-300">Mapa en constante mejora, con nuevas funcionalidades y mejoras en la interfaz.</p>
      </div>
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Mejoras en la interfaz</h3>
        <p class="text-gray-600 dark:text-gray-300">Añadido del tema oscuro, y mejoras en la interfaz.</p>
      </div>
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Actualización de datos</h3>
        <p class="text-gray-600 dark:text-gray-300">Mejora en la gestión de datos de municipios, gasolineras y puntos de interés.</p>
      </div>
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Documentación de la API</h3>
        <p class="text-gray-600 dark:text-gray-300">Documentación de la API de Gas N Ride, con ejemplos de uso y documentación técnica.</p>
      </div>
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Documentación de la aplicación</h3>
        <p class="text-gray-600">Documentación de la aplicación, guía de instalación y manual de usuario.</p>
      </div>
      <div class="bg-gray-50 dark:bg-gray-700 rounded-xl p-6 hover:shadow-lg transition-shadow duration-300">
        <h3 class="text-xl font-semibold text-novedades mb-3">Mejoras de Landing Page</h3>
        <p class="text-gray-600 dark:text-gray-300">Nuevas mejoras en la Landing Page, con nuevas funcionalidades y mejoras en la interfaz.</p>
      </div>
    </div>
  </div>
</section> 