---
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_dark.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Gas n Ride - Descargar</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="min-h-screen flex flex-col overflow-x-hidden">
    <main class="flex-1 fondo-degradado">
      <slot />
    </main>
  </body>
</html>
